<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titulo %></title>
    <meta name="description" content="<%= descricao %>" />
    <meta name="keywords" content="<%= palavrasChave %>" />
    <!-- Fontes & estilos -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/navegador') %>
    <div class="wrapper">
      <main>
        <%- body %> <!-- Conteúdo principal de cada página -->
      </main>
       <!-- Script de funcionalidade -->
      </div>
      <%- include('partials/footer') %>
      <script src="/header.js"></script>
  </body>
</html>